.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.columns {
  width: 100%;
  justify-content: space-around;
	flex-direction: row;
	display: flex;
}
